.Dictionary section {
    background: #fffafa;
    padding: 30px;
    border-radius: 5px;
    margin: 20px 0;
    box-shadow: 0 10px 20px rgb(0 0 0 / 10%);
}

.Dictionary input {
    width: 80%;
    padding: 6px 4px;
    border: 1px solid #bc5469;
    color: #333;
    margin-top: 20px;
    font-style: italic;
    }

.Dictionary  button {
    float: right;
    width: 20%;
    padding: 6px 4px;
    background: #bc5469;
    color: #bc5469;
    border: 1px solid #bc5469;
    cursor: pointer;
    margin-top: 20px;
    height: 38px;}

.Dictionary section h1 {
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
    line-height: 1.5;
    color: #bc5469
}


